* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.weather-box img {
    width: 90px;
    margin: 10px 0;
    animation: float 2s infinite ease-in-out;
}

.info {
    margin-top: 10px;
    font-size: 14px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: white;
    color: #333;
}

button:hover {
    background: #333;
    color: white;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}


